
## Playground template for the codestream chrome extension
#desc# codestream-chrome playground

#playgroundName# csc
#sandboxTypes# CS_BROWSER
#sandboxes# {{SBNAME_CS_BROWSER}}
#environment# local

dt_load {{SBNAME_CS_BROWSER}}
cd $CS_BROWSER_TOP

# uncomment these if you use iterm2 and want to colorize your tabs
# . $DT_TOP/lib/iterm2-utils.sh
# it2_tab_rgb {{SBNAME_CS_BROWSER}} 231 188 145
